.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header nav{
    display: flex;
    margin: 30px 100px;
    justify-content: space-between;
}
.navigation{
    display: flex;
    gap: 10px;
}
.school{
    color: rgba(17, 17, 17, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 13px;
}
.mid-nav{
    display: flex;
    text-decoration: none;
    gap:20px;
    margin: 0px auto;
}
.mid-nav a{
    text-decoration: none;
}
.btn{
    padding: 0px 60px;
    border-radius: 12px;
    background: rgba(254, 163, 1, 1);
    /* padding: 10px 24px 10px 24px; */
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 40px;
}
.bar{
    visibility: hidden;
}
.horizontal{
    visibility: hidden;
}
.banner{
    margin: 0px 100px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.banner-about{
    margin-top: 100px;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    color: rgba(17, 17, 17, 1);
    font-style: Regular;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0px;
}
.enroll-btn{
    background:rgba(17, 17, 17, 1);
    padding: 10px 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 400;
}
.standard{
    margin: 80px 100px;
    background: url(/assets/bg.png);
}
.standard-heading{
    color: rgba(0, 0, 0, 1);
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.card{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card-box{
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1),rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);
    width: 367.8px;
    text-align: center;
    padding: 40px;
}
.kinder{
    color: rgba(32, 32, 32, 1);
    font-size: 1.5rem;
    font-weight: 700;
}
.kinder-description{
    color: rgba(128, 128, 128, 1);
    font-style: Medium;
    font-size: 1rem;
    font-weight: 500;
}
.read-more{
    color: rgba(100, 200, 255, 1);
    text-decoration: none;
    font-weight: 600;
}
.standard-bar{
    text-align: center;
    margin-top: 80px;
}
.standard-bar button{
    border-radius: 30px;
    background: rgba(254, 163, 1, 1);
    width: 60px;
    height: 60px;
    border: 0px;
    color: white;
    font-size: 1.5rem;
}
.stories{
  
    width: 100%;
    padding: 60px 0px 60px 0px;
    background: url(/assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    text-align: center;
    justify-items: center;
}
.stories .our{
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    font-weight: 700;
}
.card-stories{
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    width: 540.27px;
}
.card-stories img{
    border-radius: 16px 16px 0px 0px;
}
.internal-fun{
    padding: 40px;
    text-align: left;
}
.standard-fun{
    color: rgba(0, 0, 0, 1);
    font-size: 1.5rem;
    font-weight: 700;
}
.story-btn{
    border-radius: 47.93px;
    background: rgba(60, 216, 232, 1);
    width: 180px;
    font-size: 14px;
    height: 47.93px;
    font-weight: 300;
    margin: 10px 0px;
    padding: 0;
    margin-left: -300px;
    margin-top: -500px;
    
}
.panrent-card{
    display: flex;
    gap: 20px;
}
.card-stories-card{
    border-radius: 16px;
    max-width: 290.69px;
    background-color: white;
}
.card-stories-card img{
    border-radius: 16px 16px 0px 0px;
    max-width: 100%;
}
.standard-fun-card{
    margin: 0px auto;
}
.card-stories-btn{
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 40px;
}
.card-boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.view-all-btn{
    border-radius: 12px;
    background: rgba(17, 17, 17, 1);
    align-items: center;
    padding: 20px;
    margin: 80px auto;
    color: white;
    font-weight: 400;
    width: 180px;
}
footer{
    background: rgba(1, 172, 253, 1);
    height: 100%;
    max-width: 100%;
    padding: 125px 140px;
}
.footer-body{
    display: flex;
    justify-content: space-between;
}
.kids-education div{
    display: flex;
    gap: 120px;
    
}
.kids-education p{
    color: rgba(255, 255, 255, 1);
    font-style: Regular;
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 399.02px;
    margin-left: 25px;

}
.about-school h4{
    /* align-content: center; */
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
}
.about-school p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-style: Medium;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
}
#kids-logo-name{
    color: rgba(255, 255, 255, 1);
    font-size: 2.75rem;
    font-weight: 700;
    width: 206.11px;
}
.keep-in-touch h3{
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
}
@media screen and (max-width: 576px){
    .mid-nav,
    .btn,
    .school,
    .card-stories{
        display: none;
    }
    .bar{
        margin: 15px 0px;
        visibility: visible;
    }
    .horizontal{
        visibility: visible;
    }
    header nav{
    margin: 20px 10px;
    justify-content: space-between;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 20px 0px;
    }
    .banner-image img{
    max-width: 100%;
    }
    .banner-image{
        margin: 30px auto;
    }
    .enroll-btn{
         display: unset;
    }
    .banner-about{
        text-align: center;
    }
    .standard-heading{
        font-size: 2rem;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    .standard{
        margin: 20px;
    }
    .footer-body{
        flex-direction: column;
    }
    footer{
        padding: 10px 0px;
    }
    .about-school,.keep-in-touch{
        margin: 10px 30px;
    }

}